body{
    background-color: #b0c4de;
}
#wrapper{
    background-color: #87ceeb;
}
nav{
    background-color: #20b2aa;
    font-size: 1.2rem;
    font-weight: bold;
}
/* make for the desktop view, the nav links are in 4 columns, change for mobile view */
nav ul{
    list-style-type:none;
    columns: 4; 
    padding-inline: 2rem;
}
nav a{
    color:#1e0606;
    text-decoration: none;
}
nav a:hover,a:focus{
    color: white;
    text-decoration: underline;
}
.Skip{
    /*hide link off screen until focused*/
    position: absolute;
    top: -200px;
    left: -300px;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 15px;
    color: blue;
    background-color: #fffaf0;
    border-radius: 8px 8px 8px 8px;
    border: blue 2px solid;
    text-decoration: none;
}
.Skip:focus{
    color: #69480A;
    text-decoration: underline;
    top: 0px;
    left: 0px;
}
section{
    float: left;
    width: 30%;
    padding-inline: 1rem;
}
#sitemap{
    clear: both;
}
#sitemap ul{
    columns: 3; 
    padding-inline: 2rem;
}
#sitemap li{
    list-style-type:none;
}