.Skip{
    /*hide link off screen until focused*/
    position: absolute;
    top: -200px;
    left: -300px;
    padding: 5px 10px;
    color: blue;
    background-color: lightgrey;
    text-decoration: none;
}
.Skip:focus{
    color: orange;
    text-decoration: underline;
    top: 0px;
    left: 0px;
}
section{
    float: left;
    width: 30%;
    padding-inline: 1rem;
}